<div class="container">
    <nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
	    <div class="navbar-header">
		<a class="navbar-brand" routerLink="/" routerLinkActive="active">{{title}}</a>
	    </div>
	    <ul class="nav navbar-nav">
		<li>
		    <a routerLink="/users" routerLinkActive="active">Users</a>
		</li>
		<li>
		    <a routerLink="/places" routerLinkActive="active">Places</a>
		</li>
		<li>
		    <a routerLink="/traffic" routerLinkActive="active">Traffic</a>
		</li>
	    </ul>
	    <ul class="nav navbar-nav navbar-right">
		<li *ngIf="loggedIn" dropdown>
		    <a href dropdownToggle (click)="false">{{currentUser.email}}<span class="caret"></span></a>
		    <ul *dropdownMenu class="dropdown-menu">
			<li>
			    <a class="dropdown-item" routerLink="/user/{{currentUser.id}}">Profile</a>
			</li>
			<li>
			    <a class="dropdown-item" (click)="logout()">Logout</a>
			</li>
		    </ul>
		</li>	    

		<li *ngIf="! loggedIn" dropdown>
		    <a href dropdownToggle (click)="false">Guest<span class="caret"></span></a>
		    <ul *dropdownMenu class="dropdown-menu">
			<li>
			    <a class="dropdown-item" (click)="openModal(loginTemplate)">Login</a>
			</li>
			<li>
			    <a class="dropdown-item" (click)="openModal(registerTemplate)">Register</a>
			</li>
		    </ul>
		</li>	    
	    </ul>
	</div>
    </nav>
    <div style="height: 70px"></div>
    <router-outlet></router-outlet>
</div>

<template #loginTemplate>
    <div class="modal-header">
	<h4 class="modal-title pull-left">Login</h4>
	<button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
	    <span aria-hidden="true">&times;</span>
	</button>
    </div>
    <div class="modal-body">
	<form #loginForm="ngForm" class="form-horizontal">
	    <div class="form-group">
		<label for="email" class="col-md-12">Email</label>
		<div class="col-md-12">
		    <input class="form-control" id="email" name="email" placeholder="Email" [(ngModel)]="input.email" />
		</div>
	    </div>

	    <div class="form-group">
		<label for="password" class="col-md-12">Password</label>
		<div class="col-md-12">
		    <input type="password" class="form-control" id="password" name="password" [(ngModel)]="input.password"/>
		</div>
	    </div>	    

	    <div *ngIf="inputError" class="alert alert-danger">
		{{inputError}}
	    </div>

	</form>
    </div>
    <div class="modal-footer">
	<button (click)="login()" class="btn btn-success">Login</button>	
    </div>
</template>

<template #registerTemplate>
    <div class="modal-header">
	<h4 class="modal-title pull-left">Register</h4>
	<button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
	    <span aria-hidden="true">&times;</span>
	</button>
    </div>
    <div class="modal-body">
	<form #registerForm="ngForm" class="form-horizontal">
	    <div class="form-group">
		<label for="email" class="col-md-12">Email</label>
		<div class="col-md-12">
		    <input class="form-control" id="email" name="email" placeholder="Email" [(ngModel)]="input.email" />
		</div>
	    </div>

	    <div class="form-group">
		<label for="password" class="col-md-12">Password</label>
		<div class="col-md-12">
		    <input type="password" class="form-control" id="password" name="password" [(ngModel)]="input.password"/>
		</div>
	    </div>	    

	    <div class="form-group">
		<label for="password" class="col-md-12">Confirm Password</label>
		<div class="col-md-12">
		    <input type="password" class="form-control" id="password_confirmation" name="password_confirmation" [(ngModel)]="input.password_confirmation"/>
		</div>
	    </div>	    

	    <div *ngIf="inputError" class="alert alert-danger">
		{{inputError}}
	    </div>

	</form>
    </div>
    <div class="modal-footer">
	<button (click)="register()" class="btn btn-success">Register</button>	
    </div>
</template>
