<h2>List of Places</h2>

<table class="table table-hover">
    <thead>
	<tr>
	    <th>Latitude</th>
	    <th>Longitude</th>
	    <th></th>
	</tr>
    </thead>
    <tbody>
	<tr *ngFor="let place of placesList">
	    <td>{{place.latitude}}</td>
	    <td>{{place.longitude}}</td>
	    <td class="text-right">
		<a (click)="getDetail(place.id)"><i class="fa fa-eye" aria-hidden="true"></i> View Details</a>
	    </td>
	</tr>
    </tbody>
</table>

<a class="btn btn-default" (click)="getList(currentPage - 1)" *ngIf="previousPage != undefined"><<</a>
<input type="number" [(ngModel)]="currentPage" (change)="getList(currentPage)" placeholder="Page"/> / {{lastPage}}
<a class="btn btn-default" (click)="getList(currentPage + 1)" *ngIf="nextPage != undefined">>></a>
