<h2>List of Places</h2>

<div class="panel panel-default">
    <table class="table table-hover">
	<thead>
	    <tr>
		<th></th>
		<th>Latitude</th>
		<th>Longitude</th>
		<th></th>
	    </tr>
	</thead>
	<tbody>
	    <tr *ngFor="let place of placesList; let i=index">
		<td>{{i + 1}}</td>
		<td>{{place.latitude}}</td>
		<td>{{place.longitude}}</td>
		<td class="text-right">
		    <button class="btn btn-default" (click)="getDetail(place.id)">View Details</button>
		</td>
	    </tr>
	</tbody>
    </table>
</div>

<a class="btn btn-default" (click)="getPlacesList(currentPage - 1)" *ngIf="previousPage != undefined"><<</a>
<input type="number" [(ngModel)]="currentPage" (change)="getPlacesList(currentPage)" placeholder="Page"/> / {{lastPage}}
<a class="btn btn-default" (click)="getPlacesList(currentPage + 1)" *ngIf="nextPage != undefined">>></a>
