<h2>List of Users</h2>

<div class="panel panel-default">
    <table class="table table-hover">
	<thead>
	    <tr>
		<th></th>
		<th>Name</th>
		<th>Email</th>
		<th>Birthday</th>
		<th></th>
	    </tr>
	</thead>
	<tbody>
	    <tr *ngFor="let user of usersList; let i=index">
		<td>{{i + 1}}</td>
		<td>{{user.name}}</td>
		<td>{{user.email}}</td>
		<td>{{user.birthday | date:"dd/MM/yyyy"}}</td>
		<td class="text-right">
		    <button class="btn btn-default" (click)="getDetail(user.id)">View Details</button>
		</td>
	    </tr>
	</tbody>
    </table>
</div>

<a class="btn btn-default" (click)="getUsersList(currentPage - 1)" *ngIf="previousPage != undefined"><<</a>
<input type="number" [(ngModel)]="currentPage" (change)="getUsersList(currentPage)" placeholder="Page"/> / {{lastPage}}
<a class="btn btn-default" (click)="getUsersList(currentPage + 1)" *ngIf="nextPage != undefined">>></a>
